$dark-color: #5f5f5f;
$light-color: #ffffff;
$backgroung-color: transparent;
$hover-background-color: #aaaaaa6b;

.icon-button {
  padding: 2px 1px;
  border: none;
  border-radius: 4px;
  outline: none;
  background-color: $backgroung-color;
  fill: $dark-color;
  cursor: pointer;

  &:hover {
    background: $hover-background-color;
  }

  &_dark {
    fill: $dark-color;
  }

  &_light {
    fill: $light-color;
  }

  & svg {
    display: flex;
    fill: inherit;
  }
}
