@import './normalize.css';
@import './variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #ffffff;
  color: $dark-text-color;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Noto Sans', Ubuntu, 'Droid Sans',
    'Helvetica Neue', sans-serif;
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
}

.center {
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.hidden {
  display: none;
}
