$primary-color: #2f82d6;
$dark-primary-color: #2367ac;

$dark-text-color: #24292f;
$dark-red-text-color: #8b0000;
$dark-green-text-color: #013220;

$header-background-color: #23629f;
$header-color: #ffffff;

$section-padding: 10px;
$section-background-color: #ebecf0;
$section-border-color: #d8dee4;
$section-border-radius: 4px;

$brown-50: #efebe9;
$brown-100: #d7ccc8;
$brown-200: #bcaaa4;
$brown-300: #a1887f;
$brown-400: #8d6e63;
$brown-500: #795548;
$brown-600: #6d4c41;
$brown-700: #5d4037;
$brown-800: #4e342e;
$brown-900: #3e2723;
